main {
    max-width: 1200px;
    margin: 40px auto;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 170px;
    font-weight: bold;
    color: #003CAC;
    margin: 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: normal;
    color: #003CAC;
    margin: 20px 0;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* HOME */
section.home {
    padding: 0 0 180px;
}

section.home > div.titulos {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 40px;
    align-content: center;
}

section.home > div.imghome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

section.home > div.imghome > img {
    width: 560px;
    height: 170px; 
}

/* EDITORIAL */
main > section.editorial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 180px;
}

main > .editorial > div.texto-editorial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: none;
    width: fit-content;
}


main > .editorial > div > div > p {
    width: 412px;
    height: 187px;
}

main > section.editorial > div.img > img {
    width: 286px;
    height: 215px;
    border-radius: 10px;
}

main > section.editorial > div.img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 40px;
    width: fit-content;
}

main > section.editorial > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin: none;
}



/* BRANDING */
main > section.branding {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 180px;
}

.branding > div.img-branding {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.branding > div.img-branding > div.img-branding-1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.branding > div.img-branding > div.img-branding-1 > img {
    width: 183px;
    height: 259px;
    border-radius: 10px;
}

.branding > div.img-branding > div.img-branding-2 {
    display: flex;
    flex-direction: row;
    gap: 53px;
}

.branding > div.img-branding > div.img-branding-2 > img {
    width: 288px;
    height: 192px;
    border-radius: 10px;
}

.branding > div.texto-branding {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: none;
    width: fit-content;
    text-align: right;
    justify-content: flex-end;
}

.branding > div.texto-branding > div > p {
    width: 412px;
    height: 306px;
    text-align: right;
}


/* APP */
main > section.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 50px;
}

main > section.app > div.texto-app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: none;
    width: fit-content;
}

main > section.app > div.texto-app > div > p {
    width: 465px;
    height: 170px;
}

main > section.app > div.img-app > img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: none;
    width: fit-content;
}

main > section.app > div.img-app > img {
    width: 286px;
    height: 160px;
    border-radius: 10px;
}

main > section.app > div.img-app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 40px;
    width: fit-content;
}

main > section.app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin: none;
}


/* ABOUT */

span {
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    font-weight: semi-bold;
    color: #003CAC;
}

main > section.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main > section.about > div.title-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
}

main > section.about > div.title-content > div.about-content {
    gap: 0px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


main > section.about > h3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
}

main > section.about > div.title-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
    gap: 40px;
}

main > section.about > div.container-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 408px;
    height: 492px;
}

main > section.about > div.container-img > div.rectangulo {
    width: 408px;
    height: 492px;
    background-color: #003CAC;
    border-radius: 20px;
    z-index: 1;
    position: absolute; 
}

main > section.about > div.container-img > img {
    position: relative;
    border-radius: 20px;
    z-index: 2;
}



/* GALERIA */
main > section#galeria > div.galeria > img {
    width: 364px;
    height: 243px;
    border-radius: 10px;
}

main > section#galeria > div.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

main > section#galeria {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0 0 50px;
}

main > section#galeria > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 20px 0px;
}

/* FOOTER */

footer {
  background-color:#003CAC;
  color: white;
  padding: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 60px 20px 60px;
}

.footer-container > div > p:first-child {
  font-weight: bold;
}

/* GALERIA
main > section#galeria > div.galeria > img {
    width: 310px;
    height: 207px;
    border-radius: 10px;
} */